@model ComicViewModel
@{
    ViewData["Title"] = "FilterSerie";
}

<!-- Comics Start -->
<section id="bestComics">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <span class="heading px-4">The Best 3 Comics</span>

                <div id="hero-background" class="d-none d-lg-flex justify-content-between w-100">
                    <img src="~/assets/img/cap-logo.png" width="300" alt="hero-read-comic" />
                    <img src="~/assets/img/nightwing.png" width="250" alt="hero-read-comic" />
                </div>
            </div>
        </div>
        <div class="row py-5 my-5">
            @foreach (var bestComic in Model.Comics)
            {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="cover my-5">
                        <div class="comics">
                            <figure class="front">
                                <img src="~/assets/img/product-@bestComic.Id/@bestComic.Image" class="w-100 h-100" alt="cover" />
                            </figure>
                            <figure class="back">
                                <img src="~/assets/img/product-@bestComic.Id/@bestComic.ComicDetail.Backface" class="w-100 h-100" alt="backface" />
                            </figure>
                        </div>
                        <div class="cover__info text-white px-3">
                            <h5>@bestComic.Name</h5>
                            <p><strong>Type : </strong>@bestComic.Category.ToString()</p>
                            <p><strong>Price : </strong>@bestComic.Price.ToString(".00")</p>
                            <p><strong>Art By : </strong>Orxan Ibra</p>
                            <p><strong>Written By : </strong>Orxan Ibra</p>
                            <p><strong>Page Count : </strong>@bestComic.ComicDetail.PageCount</p>
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@bestComic.Id" class="cover__btn">Go Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- Comics End -->