@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!-- Last Week Added Comics End -->
<section id="LastPost">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">May be You Also Like</h1>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/nightwing-rebirth/Nightwing_Rebirth_Vol_1_1_cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Nightwing Rebirth #2</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Cover</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/spiderman/amazing-spiderman-vol1-cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Amazing Spiderman #4</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Cover</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Batman Rebirth Vol 3</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Book</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/nightwing-rebirth/Nightwing_Rebirth_Vol_1_1_cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Nightwing Rebirth #2</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Cover</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/spiderman/amazing-spiderman-vol1-cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Amazing Spiderman #4</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Cover</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                    <div class="item rounded">
                        <div class="recommendation">
                            <a href="#" class="recommendation__body">
                                <img src="~/assets/img/comics/batman-rebirth/batman-rebirth-vol1-cover.jpg"
                                     class="w-100 h-100" alt="volume">
                            </a>
                            <div class="recommendation__footer w-100 d-flex flex-column">
                                <a href="">Batman Rebirth Vol 3</a>
                                <a href="">Orxan Ibrahimov</a>
                                <a href="">Book</a>
                                <a href="" class="text-danger">$8.00</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Last Week Added Comics Start-->
<!-- Characters Section Start -->
<section id="characters" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 heading position-relative py-5">
                <h1 class="text-center text-white">Characters</h1>
                <div class="d-none d-lg-block position-absolute top-0 end-0">
                    <img src="~/assets/img/hero-read-comic.png" width="250" alt="hero-read-comic" />
                </div>
            </div>

            <div class="col-12 cards">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="circle-image">
                                    <a href="https://comicvine.gamespot.com/cassie-lang/4005-40516/">
                                        <img src="~/assets/img/cassie_lang.png" alt="cassie_lang" />
                                    </a>
                                </div>
                            </div>
                            <h1 class="text-center">Cassie Lang</h1>
                            <div class="card-body">
                                <p>
                                    Born with a congenital heart condition, Cassie's father, Scott Lang became
                                    Ant-man in
                                    order to save her. He at first stole the costume, in order to rescue the
                                    doctor
                                    who
                                    could save Cassie's life, but later was given official permission to wear it
                                    by
                                    Captain
                                    America.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://comicvine.gamespot.com/cassie-lang/4005-40516/" target="_blank"
                                   class="button">Read more ...</a>

                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="circle-image">
                                    <a href="https://comicvine.gamespot.com/loki/4005-4324/"
                                       target="_blank"><img src="~/assets/img/loki.png" alt="Loki" /></a>
                                </div>
                            </div>
                            <h1 class="text-center">Asgardian Loki</h1>
                            <div class="card-body">
                                <p>
                                    Loki is the birth son of the Frost Giant Laufey, the former King of the
                                    Jotunnheim. Odin
                                    declared war and killed Laufey. When Odin saw Loki as a baby, he adopted him
                                    -
                                    This
                                    began a prophecy foretold by Odin's father, Bor.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://comicvine.gamespot.com/loki/4005-4324/" target="_blank"
                                   class="button">
                                    Read
                                    more ...
                                </a>

                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="circle-image">
                                    <a href="https://comicvine.gamespot.com/speed/4005-40518/">
                                        <img src="~/assets/img/speed.png" alt="speed" />
                                    </a>
                                </div>
                            </div>
                            <h1 class="text-center">Tommy Shepherd - Speed</h1>
                            <div class="card-body">
                                <p>
                                    Not much is known about Tommy Shepherd's history, save that his parents,
                                    Frank
                                    and Mary,
                                    are divorced. When the Young Avenger Hulkling was kidnapped by Kl'rt the
                                    Super
                                    Skrull,
                                    the Young Avengers needed more members in order to rescue Hulkling.F
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://comicvine.gamespot.com/speed/4005-40518/" target="_blank"
                                   class="button">Read more ...</a>

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
<!-- Characters Section End -->
<!-- Comics Start -->
<section id="bestComics">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <span class="heading px-4">The Best 3 Comics</span>
                <!-- <div class="d-none d-lg-flex justify-content-between w-100">
                    <img src="~/assets/img/cap-logo.png" width="250" alt="hero-read-comic" />
                    <img src="~/assets/img/batman.png" width="250" alt="hero-read-comic" />
                    <img src="~/assets/img/nightwing.png" width="250" alt="hero-read-comic" />
                </div> -->
                <div id="hero-background" class="d-none d-lg-flex justify-content-between w-100">
                    <img src="~/assets/img/cap-logo.png" width="300" alt="hero-read-comic" />
                    <img src="~/assets/img/nightwing.png" width="250" alt="hero-read-comic" />
                </div>
            </div>
        </div>
        <div class="row py-5 my-5">
            @foreach (var comic in Model.Comics)
            {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="cover my-5">
                        <div class="comics">
                            <figure class="front">
                                <img src="~/assets/img/comics/spiderman/spiderman-vol1-cover.jpg" class="w-100 h-100"
                                     alt="cover" />
                            </figure>
                            <figure class="back">
                                <img src="~/assets/img/comics/spiderman/spiderman-vol1-backfacejpg.jpg"
                                     class="w-100 h-100" alt="backface" />
                            </figure>
                        </div>
                        <div class="cover__info text-white px-3">
                            <h5>@comic.ComicCharacters[0].Character.Name @comic.Category.Name @comic.Episode</h5>
                            <p><strong>Type : </strong>@comic.ComicType.ToString()</p>
                            <p><strong>Price : </strong>$@comic.Price.ToString("0.00")</p>
                            <p><strong>Art By : </strong>Orxan Ibra</p>
                            <p><strong>Written By : </strong>Orxan Ibra</p>
                            <!-- <p><strong>Page Count : </strong>13</p> -->
                            <p><strong>Category : </strong>@comic.Category.Name</p>
                            <a  asp-controller="Home" asp-action="Detail" asp-route-id="@comic.Id" class="cover__btn">Go Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- Comics End -->
<!-- Toys Start -->
<section id="toys">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 position-relative">
                <span class="heading px-4">BestSeller Toys</span>
            </div>
            <div id="hero-background" class="d-none d-lg-flex justify-content-center w-100 py-5">
                <img src="assets/img/toy.png" width="300" alt="toy-read-comic" />
            </div>
        </div>

        <div class="row py-5">
            <div class="owl-carousel owl-theme">
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="assets/img/cap-logo.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="assets/img/toy.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="assets/img/cap-logo.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Toys End -->
<!-- Current Series Start -->
<section id="current">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="heading">Current Series</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/comics/nightwing-rebirth/nigthwing_category_cover.jpg"
                             class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <a class="comic-box">
                    <div class="comic-box__body">
                        <img src="~/assets/img/default_cover.jpg" class="w-100 h-100" alt="current" />
                    </div>
                    <div class="comic-box__footer">
                        <h5 class="text-white">Batman - Dead of Family</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Current Series End -->
