@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!-- Last Week Added Comics End -->
<section id="LastPost">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">May be You Also Like</h1>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var filteredComic in Model.FilteringComics)
                    {
                        <div class="item rounded">
                            <div class="recommendation">
                                <a href="#" class="recommendation__body">
                                    <img src="~/assets/img/@filteredComic.Category.Character.HeroName.ToLower()/comics/@filteredComic.Category.Name.ToLower()/@filteredComic.Episode/@filteredComic.Image"
                                         class="w-100 h-100" alt="volume">
                                </a>
                                <div class="recommendation__footer w-100 d-flex flex-column">
                                    <a href="">@filteredComic.Category.Character.HeroName @filteredComic.Category.Name #@filteredComic.Episode</a>
                                    <a href="">Orxan Ibrahimov</a>
                                    <a href="">@filteredComic.ComicType</a>
                                    <a href="" class="text-danger">$@filteredComic.Price.ToString(".00")</a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Last Week Added Comics Start-->

<!-- Characters Section Start -->
<section id="characters" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 heading position-relative py-5">
                <h1 class="text-center text-white">Characters</h1>
                <div class="d-none d-lg-block position-absolute top-0 end-0">
                    <img src="~/assets/img/hero-read-comic.png" width="250" alt="hero-read-comic" />
                </div>
            </div>

            <div class="col-12 cards">
                <div class="row">
                    @foreach (var character in Model.Characters)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="circle-image">
                                        <a href="https://comicvine.gamespot.com/cassie-lang/4005-40516/">
                                            <img src="~/assets/img/@character.HeroName.ToLower()/@character.FirstImage" alt="@character.HeroName" />
                                        </a>
                                    </div>
                                </div>
                                <h1 class="text-center">@character.Name - @character.HeroName</h1>
                                <div class="card-body">
                                    <p>
                                        @character.AboutCharacter.ToString()
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://comicvine.gamespot.com/cassie-lang/4005-40516/" target="_blank"
                                       class="button">Read more ...</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Characters Section End -->
<!-- featured section starts  -->
<section class="featured" id="featured">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="heading"> <span>featured books</span> </h1>
                <div class="swiper featured-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide box">
                            <div class="icons">
                                <a href="#" class="fas fa-search"></a>
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="fas fa-eye"></a>
                            </div>
                            <div class="image">
                                <img src="assets/img/book-1.png" alt="book-1" />
                            </div>
                            <div class="content">
                                <h3>featured books</h3>
                                <div class="price">$15.99 <span>$20.99</span></div>
                                <a href="#" class="btn">add to cart</a>
                            </div>
                        </div>

                        <div class="swiper-slide box">
                            <div class="icons">
                                <a href="#" class="fas fa-search"></a>
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="fas fa-eye"></a>
                            </div>
                            <div class="image">
                                <img src="assets/img/book-2.png" alt="book-2" />
                            </div>
                            <div class="content">
                                <h3>featured books</h3>
                                <div class="price">$15.99 <span>$20.99</span></div>
                                <a href="#" class="btn">add to cart</a>
                            </div>
                        </div>

                        <div class="swiper-slide box">
                            <div class="icons">
                                <a href="#" class="fas fa-search"></a>
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="fas fa-eye"></a>
                            </div>
                            <div class="image">
                                <img src="assets/img/book-3.png" alt="book-3" />
                            </div>
                            <div class="content">
                                <h3>featured books</h3>
                                <div class="price">$15.99 <span>$20.99</span></div>
                                <a href="#" class="btn">add to cart</a>
                            </div>
                        </div>

                        <div class="swiper-slide box">
                            <div class="icons">
                                <a href="#" class="fas fa-search"></a>
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="fas fa-eye"></a>
                            </div>
                            <div class="image">
                                <img src="assets/img/book-4.png" alt="book-4" />
                            </div>
                            <div class="content">
                                <h3>featured books</h3>
                                <div class="price">$15.99 <span>$20.99</span></div>
                                <a href="#" class="btn">add to cart</a>
                            </div>
                        </div>

                        <div class="swiper-slide box">
                            <div class="icons">
                                <a href="#" class="fas fa-search"></a>
                                <a href="#" class="fas fa-heart"></a>
                                <a href="#" class="fas fa-eye"></a>
                            </div>
                            <div class="image">
                                <img src="assets/img/book-5.png" alt="book-5" />
                            </div>
                            <div class="content">
                                <h3>featured books</h3>
                                <div class="price">$15.99 <span>$20.99</span></div>
                                <a href="#" class="btn">add to cart</a>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- featured section ends -->
<!-- Comics Start -->
<section id="bestComics">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <span class="heading px-4">The Best 3 Comics</span>
                <!-- <div class="d-none d-lg-flex justify-content-between w-100">
                    <img src="~/~/assets/img/cap-logo.png" width="250" alt="hero-read-comic" />
                    <img src="~/~/assets/img/batman.png" width="250" alt="hero-read-comic" />
                    <img src="~/~/assets/img/nightwing.png" width="250" alt="hero-read-comic" />
                </div> -->
                <div id="hero-background" class="d-none d-lg-flex justify-content-between w-100">
                    <img src="~/~/assets/img/cap-logo.png" width="300" alt="hero-read-comic" />
                    <img src="~/~/assets/img/nightwing.png" width="250" alt="hero-read-comic" />
                </div>
            </div>
        </div>
        <div class="row py-5 my-5">
            @foreach (var comic in Model.BestComics)
            {
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="cover my-5">
                        <div class="comics">
                            <figure class="front">
                                <img src="~/assets/img/@comic.Category.Character.HeroName.ToLower()/comics/@comic.Category.Name.ToLower()/@comic.Category.Cover" class="w-100 h-100"
                                     alt="cover" />
                            </figure>
                            <figure class="back">
                                <img src="~/assets/img/@comic.Category.Character.HeroName.ToLower()/comics/@comic.Category.Name.ToLower()/@comic.Category.Backface"
                                     class="w-100 h-100" alt="backface" />
                            </figure>
                        </div>
                        <div class="cover__info text-white px-3">
                            <h5>@comic.Category.Character.HeroName @comic.Category.Name #@comic.Episode</h5>
                            <p><strong>Type : </strong>@comic.ComicType.ToString()</p>
                            <p><strong>Price : </strong>$@comic.Price.ToString("0.00")</p>
                            <p><strong>Art By : </strong>Orxan Ibra</p>
                            <p><strong>Written By : </strong>Orxan Ibra</p>
                            <!-- <p><strong>Page Count : </strong>13</p> -->
                            <p><strong>Category : </strong>@comic.Category.Name</p>
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@comic.Id" class="cover__btn">Go Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<!-- Comics End -->
<!-- Toys Start -->
<section id="toys">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 position-relative">
                <span class="heading px-4">BestSeller Toys</span>
            </div>
            <div id="hero-background" class="d-none d-lg-flex justify-content-center w-100 py-5">
                <img src="~/assets/img/toy.png" width="300" alt="toy-read-comic" />
            </div>
        </div>

        <div class="row py-5">
            <div class="owl-carousel owl-theme">
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="~/assets/img/cap-logo.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="~/assets/img/toy.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item rounded">
                    <div class="toy-card">
                        <a href="" class="toy-card__body">
                            <img src="~/assets/img/cap-logo.png" alt="cap" />
                        </a>
                        <div class="toy-card__footer py-2">
                            <h3 class="px-3">Cap Toy</h3>
                            <h2 class="px-3">$78.90</h2>
                            <div class="d-flex justify-content-between">
                                <a href="" class="toy-card__btn">Go Detail</a>
                                <a href="" class="toy-card__btn">Add to cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Toys End -->
<!-- Current Series Start -->
<section id="current">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="heading">Current Series</span>
            </div>
        </div>
        <div class="row">
            @foreach (var comic in Model.Comics)
            {
                <div class="col-6 offset-3 offset-sm-0 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <a class="comic-box">
                        <div class="comic-box__body">
                            <img src="~/assets/img/@comic.Category.Character.HeroName.ToLower()/comics/@comic.Category.Name/@comic.Category.Cover" class="w-100 h-100" alt="current" />

                        </div>
                        <div class="comic-box__footer">
                            <h5 class="text-white">@comic.Category.Character.HeroName - @comic.Category.Name</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- Current Series End -->
